@font-face {
  font-family: 'DINCondensedC';
  font-weight: normal;
  font-style: normal;

  font-display: optional;
  src: url('../fonts/DINCondensedC.woff2') format('woff2');
}

@font-face {
  font-family: 'DINPro-Regular';
  font-weight: normal;
  font-style: normal;

   font-display: optional;
  src: url('../fonts/DINPro-Regular.woff2') format('woff2');
}
