@font-face {
  font-family: "DINCondensedC";
  font-weight: bold;

  src: url("../fonts/DINCondensedC.woff") format("woff");
}

@font-face {
  font-family: "DINPro-Regular";
  /* font-weight: bold; */

  src: url("../fonts/DINPro-Regular.woff") format("woff");
}