section.page-content div.wrap div.main {
  padding: 5% 10% 0% 10%;
}

section.page-content div.wrap div.main img.gusli-logo {
  width: 45%;
  height: 45%;
  margin: 0% 5% 12% 25%;
}

section.page-content div.wrap div.main div.gusli-text {
  display: block;

  width: 100%;
  height: 3em;

  color: #565656;

  font-size: 18px;
}

section.page-content div.wrap div.main div.gusli-text div.column {
  float: left;

  margin: 0% 0% 2% 5%;
}

section.page-content div.wrap div.main h2 {
  margin: 25% 5% 0% 5%;

  transition: font-size 1000ms;
  text-align: center;
  letter-spacing: -0.04em;

  color: #D30000;

  font-family: "DINCondensedC";
  font-size: 100px;
  font-weight: normal;
  line-height: 120px;
}


section.page-content div.wrap div.main h3 {
  margin: 15% 10% 3% 10%;

  transition: font-size 1000ms;
  text-align: center;
  letter-spacing: -0.04em;

  color: #0a0a0a;

  font-family: "DINCondensedC";
  font-size: 80px;
  font-weight: normal;
  line-height: 90px;
}

section.page-content div.wrap div.main img.fotka {
  display: block;

  width: 280px;
  margin: 0 auto;

  transition: width 1000ms;
  transform: rotate(-6deg);

  border-radius: 3px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
}

section.page-content div.wrap div.main img.mb {
  display: block;

  width: 400px;
  margin: 0 auto;
}

section.page-content div.wrap div.main img.lakirovka {
  display: block;

  width: 45%;
  margin: 0 auto;
}

section.page-content div.wrap div.main img.virez {
  width: 300px;
}

section.page-content div.wrap div.main img.virez, section.page-content div.wrap div.main img.posters  {
  display: block;

  margin: 0 auto;
}

section.page-content div.wrap div.main img.strun, section.page-content div.wrap div.main img.end {
  display: block;

  width: 65%;
  margin: 0 auto;
}

section.page-content div.wrap div.main div.gusli-text div.ups {
  width: 56%;
  margin: 0% 20% 0% 20%;

  text-align: center;
}


@media only screen and (min-width: 1110px) {
  section.page-content div.wrap div.main div.gusli-text div.column {
    margin: 0% 0.2% 1% 0.2%;

    transition: margin 2s;
  }

  section.page-content div.wrap div.main div.gusli-text div.column.left {
    width: 20%;
    padding-right: 1.7em;
  }

  section.page-content div.wrap div.main div.gusli-text div.column.middle {
    width: 56%;
  }

  section.page-content div.wrap div.main div.gusli-text div.column.right {
    width: 20%;
  }

  section.page-content div.wrap div.main h2 {
    margin: 30% 10% 8% 10%;

    transition: font-size 1000ms;

    font-size: 13vw;
    line-height: 200px;
  }

  section.page-content div.wrap div.main h3 {
    transition: font-size 1000ms;

    font-size: 6vw;
  }

  section.page-content div.wrap div.main img.fotka {
    display: block;

    width: 35%;
    margin: 0 auto;

    border-radius: 3px;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
  }

  section.page-content div.wrap div.main img.mb {
    display: block;

    width: 55%;
    margin: 0 auto;
  }

  section.page-content div.wrap div.main img.lakirovka {
    display: block;

    width: 65%;
    margin: 0 auto;
  }

  section.page-content div.wrap div.main img.virez {
    display: block;

    width: 40%;
    margin: 0 auto;
  }

  section.page-content div.wrap div.main img.posters {
    display: block;

    width: 50%;
    margin: 0 auto;
  }

  section.page-content div.wrap div.main img.virez, section.page-content div.wrap div.main img.posters  {
    display: block;

    margin: 0 auto;
  }

  section.page-content div.wrap div.main img.strun, section.page-content div.wrap div.main img.end {
    display: block;

    width: 65%;
    margin: 0 auto;
  }

  section.page-content div.wrap div.main img.gusli-logo {
    display: block;

    width: 65%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  section.page-content div.wrap div.main {
    padding: 5% 10% 0% 15%;
  }
}
