section.page-content div.wrap div.main {
  padding: 18% 0% 0% 0%;
}

section.page-content div.wrap div.main img.gusli-logo {
  width: 45%;
  height: 45%;
  margin: 0% 5% 12% 25%;
}

section.page-content div.wrap div.main div.gusli-text {
  display: block;

  width: 100%;
  height: 3em;

  color: #565656;
}

section.page-content div.wrap div.main div.gusli-text div.column {
  float: left;

  margin: 0% 0% 2% 5%;
}

/* section.page-content div.wrap div.main div.gusli-text div.column.left {
  width: 24%;
  padding-right: 1.7em;
}

section.page-content div.wrap div.main div.gusli-text div.column.middle {
  width: 56%;
}

section.page-content div.wrap div.main div.gusli-text div.column.right {
  width: 15%;
} */

section.page-content div.wrap div.main h2 {
  margin: 25% 5% 0% 5%;

  transition: font-size 1000ms;
  text-align: center;
  letter-spacing: -0.04em;

  color: #D30000;

  font-family: "DINCondensedC";
  font-size: 100px;
  font-weight: normal;
  line-height: 120px;
}


section.page-content div.wrap div.main h3 {
  margin: 5% 10% 3% 10%;

  transition: font-size 1000ms;
  text-align: center;
  letter-spacing: -0.04em;

  color: #0a0a0a;

  font-family: "DINCondensedC";
  font-size: 80px;
  font-weight: normal;
  line-height: 90px;
}

section.page-content div.wrap div.main img {
  width: 45%;
  height: 45%;
  margin: 5% 30% 10% 30%;

  text-align: center;
}

section.page-content div.wrap div.main img.fotka {
  width: 280px;
  height: auto;
  margin: 2% 35% 0% 35%;

  transition: width 1000ms;
  transform: rotate(-6deg);

  border-radius: 3px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
}

section.page-content div.wrap div.main img.mb {
  width: 400px;
  height: auto;
  margin: 0% 30% 6% 25%;
}

section.page-content div.wrap div.main img.lakirovka {
  width: 45%;
  height: 45%;
  margin: 0% 30% 6% 15%;
}

section.page-content div.wrap div.main img.virez, section.page-content div.wrap div.main img.posters  {
  margin: 0% 30% 6% 30%;
  margin-top: 0%;
  margin-bottom: 6%;
}

section.page-content div.wrap div.main img.strun, section.page-content div.wrap div.main img.end {
  width: 65%;
  height: 65%;
  margin: 5% 30% 6% 20%;
}

section.page-content div.wrap div.main div.gusli-text div.ups {
  width: 56%;
  margin: 0% 20% 0% 20%;

  text-align: center;
}


@media only screen and (min-width: 1110px) {
  section.page-content div.wrap div.main div.gusli-text div.column {
    margin: 0% 0.2% 1% 0.2%;

    transition: margin 2s;
  }

  section.page-content div.wrap div.main div.gusli-text div.column.left {
    width: 24%;
    padding-right: 1.7em;
  }

  section.page-content div.wrap div.main div.gusli-text div.column.middle {
    width: 56%;
  }

  section.page-content div.wrap div.main div.gusli-text div.column.right {
    width: 15%;
  }

  section.page-content div.wrap div.main h2 {
    margin: 15% 10% 8% 10%;

    transition: font-size 1000ms;

    font-size: 13vw;
    line-height: 200px;
  }

  section.page-content div.wrap div.main h3 {
    transition: font-size 1000ms;

    font-size: 6vw;
  }

  section.page-content div.wrap div.main img {
    width: 45%;
    height: 45%;
    margin: 5% 30% 10% 30%;
  }

  section.page-content div.wrap div.main img.fotka {
    width: 35%;
    height: 35%;
    margin: -4% 35% 0% 35%;

    transform: rotate(-6deg);

    border-radius: 3px;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
  }

  section.page-content div.wrap div.main img.mb {
    width: 55%;
    height: 55%;
    margin: 0% 30% 6% 25%;
  }

  section.page-content div.wrap div.main img.lakirovka {
    width: 65%;
    height: 65%;
    margin: -2% 30% 6% 15%;
  }

  section.page-content div.wrap div.main img.virez {
    width: 40%;
    height: 40%;
  }

  section.page-content div.wrap div.main img.posters {
    width: 50%;
    height: 50%;
  }

  section.page-content div.wrap div.main img.virez, section.page-content div.wrap div.main img.posters  {
    margin-top: 0%;
    margin-bottom: 6%;
  }

  section.page-content div.wrap div.main img.strun, section.page-content div.wrap div.main img.end {
    width: 65%;
    height: 65%;
    margin: 5% 30% 6% 20%;
  }
}
